
@{
    ViewBag.Title = "About";
}

<h2>Html Helper</h2>
@Html.Label("Ad giriniz: ")
@Html.TextBox("text1")<br />
@Html.Label("Onaylıyorum: ")
@Html.CheckBox("check1", false) <br />
@Html.ActionLink("Home other", "Index", "Home2")<br />
